@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
   --color-background: #FFFFFF;
   --color-title: #252525;
   --color-icon: #4F4F4F;
   --color-navigate: #161616;
   --color-navigate-active: #383838;
   --color-border: #686868;
   --color-slide-circle: rgba(126, 126, 126, 0.336);

   --border-radius-main: 10px;
   --border-radius-footer-text: 10px;
   --border-radius-slide-circle: 50px;

   --box-shadow-main: 0px 6px 17px 2px rgba(0,0,0,0.63);
}

.dark-theme-variable{
   --color-background: #222222;
   --color-title: #f1f1f1;
   --color-icon: #e2e2e2;
   --color-navigate: #fafafa;
   --color-navigate-active: #dadada;
}

/* ==================== TOP ==================== */

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Poppins, sans-serif;
}
html{
   background: var(--color-background);
}
.top{
   height: 100vh;
   width: 100%;

}
nav {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 20px;
   margin-bottom: 3rem;
}
nav ul li{
   list-style-type: none;
   display: inline-block;
   padding: 10px 20px;
}
nav ul li a{
   color: var(--color-icon);
   text-decoration: none;
   font-weight: bold;
}
nav ul li a:hover{
   transition: .3s;
}
.top nav ul li a span{
   transition: .3s;
   font-size: 2.5rem;
   cursor: pointer;
}
.top nav ul li:nth-child(2){
   margin-left: 2rem;
   margin-right: 2rem;
}

/* ==================== CONTAINER ==================== */

.container{
   display: inline;
}
.item:not(:first-child){
   margin-top: 3rem;
}
.item h2{
   padding-left: 1rem;
}
.item div{
   overflow: hidden;
   box-shadow: var(--box-shadow-main);
}
.item div img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.favorites{
   border-radius: var(--border-radius-main);
   height: 20rem;
   width: 90%;
   margin-left: 1.1rem;
}
.fav-title{
   font-size: 22px;
   text-align: center;
   width: 100%;
}
.container{
   width: 100%;
}