
/* Background*/

body{
    background: linear-gradient(146.11deg, #342574 20.43%, rgba(255, 255, 255, 0) 79.91%), linear-gradient(202.81deg, #0c0635 38.99%, rgba(255, 255, 255, 0) 85.2%), #04001d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/* Navigation Bar*/

*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height:100vh ;
}
.nav{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 230px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #2B2748;
    background-color: #2B2748;
    transition: 0.5s;
}
.nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.nav ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nav ul li a{
    position: relative;
    display: bock;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.nav ul li a .icon ion-icon{
    font-size: 1.5em;
}
.nav ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

/* Down logo */

#guinted{
    position:absolute;
    bottom: 20px;
    right: 20px;
    bottom: 20px;
    opacity: 1;
    width: 40px;
}

/* Arrow */

#arrow {
    position: relative;
    top: 3px;
}

/* Version */

.version {
    color: white;
    position: absolute;
    left: 30px;
    bottom: 30px;
    opacity: 0.4;
}

/* Settings Main Page & Shadow */

.settings, .settings-shadow{
    animation: transitionIn 0.75s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.settings{
    position: absolute;
    width: 1310px;
    height: 912px;
    background: #2B2748;
    border-radius: 36px;
    bottom: 47px;
    left: 360px;
}
.settings-shadow{
    position: absolute;
    width: 1311px;
    height: 912px;
    background: #18152B;
    border-radius: 36px;
    bottom: 38px;
    left: 349px;
}
.settings-main-text{
    position: absolute;
    width: 378px;
    height: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 96px;
    color: #FFFFFF;
    top: 38px;
    left: 370px;
}
.settings-theme-text{
    position: absolute;
    width: 209px;
    height: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    top: 150px;
    left: 440px;
}

/* Rotatin Wheel */

.wheel{
    display: block;
    position: fixed;
    top: 25px;
    right: 260px;
    font-size: 130px;
    color: white;
    -webkit-transition: -webkit-transform 1s;
}
.wheel:hover{
    -webkit-transform: rotate(360deg) translateZ(0);
}