/* styles.css */

/* Add styles here to customize the appearance of your app */

/* Research bar */
*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(146.11deg, #342574 20.43%, rgba(255, 255, 255, 0) 79.91%), linear-gradient(202.81deg, #0c0635 38.99%, rgba(255, 255, 255, 0) 85.2%), #04001d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.input {
    border: 4px solid #27292a;
    border-radius: 5px;
    height: 122px;
    width: 550px;
    color: rgb(212, 198, 198);
    font-size: 25px;
    padding-left: 20px;
    outline: none;
    border-radius: 100px;
    background-color: #2B2748;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 40%);
}
.input-wrap label {
    font-size: 20px;
    color: #27292a;
    padding: 40px;
    position: absolute;
    top: 8px;
    left: 10px;
    pointer-events: none;
    transition: 0.3s ease all;
    border-radius: 100px;
    background-color: #2B2748;
}
.input-wrap {
    position: relative;
    width: auto;
    height: auto;
    
}
.input:focus+label ,
.input:valid+label{
    font-size: 17px;
    color: #27292a;
    top: 15px;
    left: 35px;
    background: #ffff;
    padding: 0 5px 0 5px;
    background-color: #2B2748
}

/* Navigation Bar*/

*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height:100vh ;
}
.nav{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 230px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #2B2748;
    background-color: #2B2748;
    transition: 0.5s;
}
.nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.nav ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nav ul li a{
    position: relative;
    display: bock;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.nav ul li a .icon ion-icon{
    font-size: 1.5em;
}
.nav ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}